<h2 class="deviseHeading">Change your password</h2>

<div class="formWrap">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="field">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="actions" id="changepwBtn">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>
  
  <div class="loginLinkWrap">
    <%= render "devise/shared/links" %>
  </div>
  
  <div class="logoWrap">
    <img src="https://codecopycoffee.com/wp-content/uploads/2019/06/brew2ulogo.png" alt="brew2ulogo" />
  </div>
</div>